<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Inicio de Sesión</h1>
        <form method="post" action="{{ url_for('ejercicio2') }}">
            <label for="usuario">Ingresa tu Nombre:</label>
            <input type="text" name="usuario" required>
            <label for="contraseña">Ingresa tu Contraseña:</label>
            <input type="password" name="contraseña" required>
            <input type="submit" value="Ingresar" class="button">
        </form>
    </div>
</body>
</html>
